@charset "UTF-8";
.s20-tabs__selectors {
  position: relative;
  width: 300px;
  display: flex;
  float: right;
  list-style: none;
}
.s20-tabs__selectors-tab {
  min-width: 100px;
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #dd2042;
  color: #ffffff;
}
.s20-tabs__selectors-tab[aria-selected=true] {
  color: #dd2042;
  background-color: #ffffff;
  border: 2px solid #dd2042;
}

.s20-filter {
  width: 100%;
  display: flex;
  padding: 20px;
}
.s20-filter > div {
  flex: 1 1 auto;
}

.s20-table {
  border: 1px solid black;
}
.s20-table th {
  width: 200px;
  height: 70px;
  background-color: #dd2042;
  color: #ffffff;
}
.s20-table__header {
  background-color: #dd2042;
  color: #ffffff;
}
.s20-table__header tr:first-child {
  display: none;
}
.s20-table__body:before {
  line-height: 1px;
  content: "‌";
  display: block;
}
.s20-table__body td {
  padding-left: 10px;
}
.s20-table__body tr:nth-child(odd) {
  background-color: #cacaca;
}
.s20-table__body tr:nth-child(even) {
  background-color: white;
}
.s20-table__column {
  background: red;
}
.s20-table__expand-button {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
